<div class="row justify-content-center">
  <div  *ngIf="isLoading" class="col-md-6 col-sm-8">
    <mat-card class="login-card">
      <mat-spinner></mat-spinner>
    </mat-card>
  </div>
  <div class="col-md-6 col-sm-8" *ngIf="!isLoading">
    <mat-card class="login-card">
      <h1 class="login-card-heading">
        {{mode}} Album
      </h1>
      <p class="mat-body-1 login-card-description"> {{mode}} This Album </p>
      <div class="row justify-content-between modal-top-row">
        <div class="col-6">
          <mat-form-field class="login-card-fields">
            <mat-label>IMDb :</mat-label>
            <input type="text" [(ngModel)]="imdb" matInput placeholder="Ex: IMDb link goes here" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <button
            mat-raised-button
            color="accent"
            class="login-card-button" (click)="linkDecipher(imdb)">
            Search
          </button>
        </div>
      </div>
      <button
        mat-raised-button
        color="warn"
        class="login-card-button pt-10" (click)="resetForm()">
        Reset Form
      </button>
      <form [formGroup]="form" (submit)="createAlbum()">
            <mat-form-field class="login-card-fields">
              <mat-label>Album Name :</mat-label>
              <input type="text" formControlName="name" matInput placeholder="Ex: Album Name" />
            </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()"> Pick Image </button>
          <input class="invisible-file-picker" type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="admin-image-preview" *ngIf="imagePreview !== '' && imagePreview">
          <img [src]="imagePreview" [alt]="form.value.name" />
        </div>
        <mat-form-field class="login-card-fields">
          <mat-label>Album Language</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let language of languages"
            [value]="language.id">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Album Artist</mat-label>
          <mat-select formControlName="artist">
            <mat-option *ngFor="let artist of artists"
                        [value]="artist.id">
              {{artist.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Album Genre</mat-label>
          <mat-select formControlName="genre">
            <mat-option *ngFor="let genre of genres"
                        [value]="genre.id">
              {{genre.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Album Description :</mat-label>
          <textarea type="text" formControlName="description" matInput rows="2" placeholder="Ex: Current Address" ></textarea>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Casts :</mat-label>
          <textarea type="text" formControlName="cast"  matInput rows="2" placeholder="Ex: Name Of Cast Seperated By Comma"></textarea>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Release Date :</mat-label>
          <input type="text" formControlName="release"  matInput placeholder="Ex: Release Date DD/MM/YYYY" />
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Release Year :</mat-label>
          <input type="text" formControlName="year"  matInput placeholder="Ex: Release Year" />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="login-card-button" type="submit">
          {{mode}} Album
        </button>
      </form>
    </mat-card>
  </div>
</div>
