<div class="indx_title_main_wrapper mt-50">
  <div class="title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="indx_title_left_wrapper m24_cover">
          <h4>User Dashboard</h4>
          <ul>
            <li><a routerLink="/">Home</a> &nbsp;&nbsp;&nbsp;/</li>
            <li>{{firstName}}'s Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inner Title End -->
<!-- artist single wrapper start -->
<div class="ad-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 left-sidebar-ad pt-60" *ngIf="leftAd">
        <a [href]="leftAd.link" ><img class="img-fluid" [src]="leftAd.imagePath" [alt]="leftAd.name" /></a>
      </div>
      <div class="col-1 left-sidebar-ad pt-60" *ngIf="!leftAd">
        <a href="javascript:void(0)"><img class="img-fluid" src="./assets/frontend/image/ad/add2_long.png" alt="Ad-Image" /></a>
      </div>
      <div class="col-10">
        <div class="artist_wrapper m24_cover">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-10 user-dash-name">
                <div class="card user-card">
                  <div class="card-body user-card-body">
                    <div class="row justify-content-center">
                      <div class="col-12 user-dash-image mt-10">
                       <button class="btn btn-no-shadow-user"><img [src]="currentImage" class="img-fluid" [alt]="currentUser"></button>
                        <h2 class="text-center pt-20 pb-40">Welcome <span>{{currentUser}}</span></h2>
                      </div>
                      <div class="col-12 user-dash-description">
                        <div class="row mb-40">
                          <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-10">
                            <h4 class="text-center"><i class="far fa-id-card"></i> Email Address</h4>
                            <h5 class="text-center pt-40">{{currentEmail}}</h5>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-10">
                            <h4 class="text-center"><i class="far fa-bell"></i> Notification </h4>
                            <h5 class="text-center pt-40"><button class="btn btn-inverse-success user-noti-button"> 3 </button></h5>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-10">
                            <h4 class="text-center"><i class="far fa-calendar-alt"></i> Member Since </h4>
                            <h5 class="text-center pt-40">30th June 2021</h5>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-10">
                            <h4 class="text-center"><i class="far fa-user-circle"></i> Member Type </h4>
                            <h5 class="text-center pt-40"><button class="btn btn-inverse-danger">Free</button></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 right-sidebar-ad pt-60" *ngIf="rightAd">
        <a [href]="rightAd.link"><img class="img-fluid" [src]="rightAd.imagePath" [alt]="rightAd.name"/></a>
      </div>
      <div class="col-1 right-sidebar-ad pt-60" *ngIf="!rightAd">
        <a href="javascript:void(0)"><img class="img-fluid" src="./assets/frontend/image/ad/add2_long.png" alt="Ad Image"/></a>
      </div>
    </div>
  </div>
</div>
<!-- artist single wrapper end -->
