.server_distribution_header{
  color:black!important;
  font-size: 10px!important;
  line-height: 10px!important;
}

.task_assigning_form{
  display: block;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.task_assigning_button{
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link-notify{
  cursor:pointer;
}

/*Header Card Styling*/

.background_card_1{
  background-color: #FD3C97;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.background_card_2{
  background-color: #508FF4;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.background_card_3{
  background-color: #4BE69D;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.info-card-back{
  margin: 10px;
}

.info-card-texts .info-card-heading{
  padding-top: 20px;
  font-size: 16px;
}

.info-card-texts p, .info-card-texts h3, .info-card-texts p {
  color: white!important;
  text-align: center;
}

.info-card-texts h3{
  text-align: center;
  font-size: 25px;
}

.info-card-texts .second-info-card-heading{
  text-align: center;
  font-size: 18px;
}

.info-card-icon{
  text-align: center;
}

.info-card-icon i{
  font-size: 40px;
  margin-top: 100%;
}

.custom-info-card-text{
  margin-top: 10%;
}

@media only screen and ( min-width: 992px ) and ( max-width: 1200px ){
  .info-card-icon i{
    font-size: 40px;
    margin-top: 150%;
    padding-right:3px;
  }

  .custom-info-card-text{
    margin-top: 15%;
  }

  .custom-info-card-icon i{
    margin-left: -10px;
  }

}

@media only screen and (min-width: 892px) and (max-width: 992px){
  .info-card-back{
    width: 25%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 892px){

  .info-card-icon i{
    font-size: 40px;
    margin-top: 180%;
    padding-right:3px;
  }

  .info-card-back{
    width: 25%;
  }

  .custom-info-card-icon i{
    margin-left: -15px;
  }

}

@media only screen and (max-width: 767px){

  .info-card-icon i{
    font-size: 40px;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .info-card-back{
    width: 55%;
  }

  .custom-info-card-icon i{
    margin-left: -15px;
  }

}
