<div class="row justify-content-center">
  <div class="col-md-11 col-sm-10">
    <mat-card class="login-card">
      <h1 class="login-card-heading text-center">
        All Starred Emails
      </h1>
      <p class="mat-body-1 login-card-description text-center"> List Of Starred Email </p>
      <table class="table table-striped table-hover mt-30">
        <thead>
        <tr>
          <th class="text-center">Starred</th>
          <th class="text-center">SN.</th>
          <th class="text-center">Sender</th>
          <th class="text-center">Email</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="contacts.length > 0">
        <tr *ngFor="let contact of contacts; let i=index;">
          <td class="text-center"><button class="btn btn-inverse-success"><i class="fas fa-star"></i></button></td>
          <td class="text-center">{{ i + 1}}</td>
          <td class="text-center">{{contact['firstName']}}</td>
          <td class="text-center">{{contact['email']}}</td>
          <td>
            <div class="row justify-content-around">
              <div class="col-3">
                <button (click)="openViewModal(contact)" class="btn btn-inverse-info"><i class="fas fa-eye"></i></button>
              </div>
              <div class="col-3">
                <button (click)="onDelete(contact.id)" class="btn btn-inverse-danger"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="contacts.length <= 0">
          <td class="text-center">No Emails Starred Yet</td>
        </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
