<!--My Play List wrapper start -->
<div class="album_inner_list m24_cover pb-60" id="playlist">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="row mb-20">
          <div class="col-12 favourite-dash-playlist mb-20">
            <h1 class="mb-20 text-left"><i class="far fa-play-circle"></i> My Play List</h1>
          </div>
          <div class="col-6 favourite-dash-playlist-name">
            <h5 class="mt-20 mb-20"><i class="far fa-play-circle"></i> Play List Name</h5>
          </div>
          <div class="col-6">
            <div class="lang_apply_btn">
              <a href="#"><i class="flaticon-play-button"></i> play all</a>
            </div>
          </div>
        </div>
        <div class="album_list_wrapper2">
          <div class="album_list_wrapper">
            <ul class="album_list_name m24_cover">
              <li>#</li>
              <li class="song_title_width">Album Title</li>
              <li class="song_title_width">Artist</li>
              <li class="text-center">Songs</li>
              <li class="text-center">More</li>
            </ul>
            <ul class="album_inner_list_padding">
              <li><a href="#"><span class="play_no">01</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">

                  <img src="./assets/frontend/image/album/tp1.png" alt="img">

                  <div class="top_song_artist_contnt">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
              <li class="text-center"><a href="#">23</a></li>

              <li class="text-center top_song_artist_playlist">
                <div class="m24_tranding_more_icon">
                  <i class="flaticon-menu"></i>
                </div>
                <ul class="tranding_more_option">
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>Delete playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                </ul>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li><a href="#"><span class="play_no">02</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">

                  <img src="./assets/frontend/image/album/tp2.png" alt="img">

                  <div class="top_song_artist_contnt">
                    <h1><a href="#">l wanna you</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy artist</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
              <li class="text-center"><a href="#">30</a></li>

              <li class="text-center top_song_artist_playlist">
                <div class="m24_tranding_more_icon">
                  <i class="flaticon-menu"></i>
                </div>
                <ul class="tranding_more_option">
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>Delete playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                </ul>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li><a href="#"><span class="play_no">03</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">

                  <img src="./assets/frontend/image/album/tp3.png" alt="img">

                  <div class="top_song_artist_contnt">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
              <li class="text-center"><a href="#">50</a></li>

              <li class="text-center top_song_artist_playlist">
                <div class="m24_tranding_more_icon">
                  <i class="flaticon-menu"></i>
                </div>
                <ul class="tranding_more_option">
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>Delete playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                </ul>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li><a href="#"><span class="play_no">04</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">

                  <img src="./assets/frontend/image/album/tp4.png" alt="img">

                  <div class="top_song_artist_contnt">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
              <li class="text-center"><a href="#">12</a></li>
              <li class="text-center top_song_artist_playlist">
                <div class="m24_tranding_more_icon">
                  <i class="flaticon-menu"></i>
                </div>
                <ul class="tranding_more_option">
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>Delete playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                </ul>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li><a href="#"><span class="play_no">05</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">

                  <img src="./assets/frontend/image/album/tp5.png" alt="img">

                  <div class="top_song_artist_contnt">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
              <li class="text-center"><a href="#">46</a></li>

              <li class="text-center top_song_artist_playlist">
                <div class="m24_tranding_more_icon">
                  <i class="flaticon-menu"></i>
                </div>
                <ul class="tranding_more_option">
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>Delete playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="pagination pagination-lg justify-content-center">
    <li><a class="page-link" href="#"><i class="fal fa-angle-left"></i></a></li>
    <li><a class="page-link active" href="#">1</a></li>
    <li><a class="page-link" href="#">2</a></li>
    <li><a class="page-link" href="#">3</a></li>
    <li><a class="page-link" href="#"><i class="fal fa-angle-right"></i></a></li>
  </ul>
</div>
<div class="m24_cover index3_top_songs_wrapper add_banner_wrapper pb-40" *ngIf="middleAd">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m24_cover add_banner_img_wrapper">
          <a [href]="middleAd.link"><img [alt]="middleAd.name" [src]="middleAd.imagePath" class=img-responsive></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m24_cover index3_top_songs_wrapper add_banner_wrapper pb-40" *ngIf="!middleAd">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m24_cover add_banner_img_wrapper">
          <a href="javascript:void(0)"><img alt=img src="./assets/frontend/image/ad/add7.png" class=img-responsive></a>
        </div>
      </div>
    </div>
  </div>
</div>
