<div class="container-fluid">
  <mat-toolbar>
    <div class="row justify-content-between modal-top-row">
      <div class="col-4">
    <span>
      <h4 class="text-center card-title">Actor Details</h4>
    </span>
      </div>
      <div class="col-2">
        <button class="btn btn-block btn-inverse-danger"  (click)="onClose()" tabindex="-1"><i class="far fa-window-close"></i></button>
      </div>
    </div>
  </mat-toolbar>
  <div class="row modal-top-row justify-content-center">
    <div class="col-3">
      <img class="list-view-image"  [src]="actorDetails.imagePath"  [alt]="actorDetails.name" />
    </div>
  </div>
  <div class="card">
    <div class="card-body shadow-sm">
      <table class="table table-striped table-responsive-lg table-bordered table-hover mt-20">
        <thead>
        <tr>
          <th class="text-center">Field Name</th>
          <th class="text-center">Field Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">Actor Name</td>
          <td class="text-center">{{actorDetails.name}}</td>
        </tr>
        <tr>
          <td class="text-center">Description</td>
          <td class="text-center"> {{actorDetails.description}} </td>
        </tr>
        <tr>
          <td class="text-center">Actor Awards</td>
          <td class="text-center"> {{actorDetails.awards}} </td>
        </tr>
        <tr>
          <td class="text-center">Actor Roles</td>
          <td class="text-center"> {{actorDetails.role}} </td>
        </tr>
        <tr>
          <td class="text-center">Actor Birthday</td>
          <td class="text-center"> {{actorDetails.birth}} </td>
        </tr>
        <tr>
          <td class="text-center">Actor Deathday</td>
          <td class="text-center"> {{actorDetails.death}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


