<div class="container-fluid">
  <mat-toolbar>
    <div class="row justify-content-between modal-top-row">
      <div class="col-4">
    <span>
      <h4 class="text-center card-title">Album Details</h4>
    </span>
      </div>
      <div class="col-2">
        <button class="btn btn-block btn-inverse-danger"  (click)="onClose()" tabindex="-1"><i class="far fa-window-close"></i></button>
      </div>
    </div>
  </mat-toolbar>
  <div class="row modal-top-row justify-content-center">
    <div class="col-3">
      <img class="list-view-image"  [src]="albumDetails.imagePath"  [alt]="albumDetails.name" />
    </div>
  </div>
  <div class="card">
    <div class="card-body shadow-sm">
      <table class="table table-striped table-responsive-lg table-bordered table-hover mt-20">
        <thead>
        <tr>
          <th class="text-center">Field Name</th>
          <th class="text-center">Field Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">Album Name</td>
          <td class="text-center">{{albumDetails.name}}</td>
        </tr>
        <tr>
          <td class="text-center">Description</td>
          <td class="text-center"> {{albumDetails.description}} </td>
        </tr>
        <tr>
          <td class="text-center">Cast</td>
          <td class="text-center"> {{albumDetails.cast}} </td>
        </tr>
        <tr>
          <td class="text-center">Release Date</td>
          <td class="text-center"> {{albumDetails.release}} </td>
        </tr>
        <tr>
          <td class="text-center">Release Year</td>
          <td class="text-center"> {{albumDetails.year}} </td>
        </tr>
        <tr>
          <td class="text-center">Cast IMDb Link</td>
          <td class="text-center"> {{albumDetails.castLink}} </td>
        </tr>
        <tr>
          <td class="text-center">Language</td>
          <td class="text-center"> {{albumLanguage[0]}} </td>
        </tr>
        <tr>
          <td class="text-center">Artist</td>
          <td class="text-center"> {{albumLanguage[1]}} </td>
        </tr>
        <tr>
          <td class="text-center">Genre</td>
          <td class="text-center"> {{albumLanguage[2]}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

