<!--inner Title Start -->
<div class="indx_title_main_wrapper mt-50">
  <div class="title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="indx_title_left_wrapper m24_cover">
          <h4>Single Album</h4>
          <ul>
            <li><a href="#">Albums</a> &nbsp;&nbsp;&nbsp;/</li>
            <li *ngIf="album">{{album.name}} Album</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inner Title End -->
<!-- artist single wrapper start -->
<div class="ad-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 left-sidebar-ad pt-60">
        <img class="img-fluid" src="./assets/frontend/image/ad/add2_long.png" alt="Ad Image" />
      </div>
      <div class="col-10">
        <div class="artist_wrapper m24_cover pt-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 user-dash-name">
                <div class="card album-card">
                  <div class="card-body user-card-body album-card-body">
                    <h5 class="text-left"><i class="fas fa-play-circle"></i>&nbsp;&nbsp; Play/Download <span *ngIf="album">{{album.name}}</span></h5>
                    <div class="row justify-content-center mt-30">
                      <div class="col-md-3 album-dash-image" *ngIf="album">
                        <img [src]="album.imagePath" [alt]="album.name" class="img-fluid">
                      </div>
                      <div class="col-md-9 album-dash-heading">
                        <h6>Description</h6>
                        <p class="pt-10" *ngIf="album">
                          {{album.description}}
                        </p>
                        <p class="description-span pt-1 pb-1" *ngIf="album"><span>Artist </span>:&nbsp;&nbsp;{{album.artist}} </p>
                        <p class="description-span pt-1 pb-1"><span>Released On </span>:&nbsp;&nbsp; {{release}}</p>
                        <div class="md-12 pt-10 album-dash-options">
                          <p class="text-left">
                            <span class="pr-2"><a class="btn"><i class="fal fa-share-alt"></i>&nbsp;&nbsp; Share</a></span>
                            <span class="pl-2 pr-2"><a class="btn"><i class="fal fa-layer-plus"></i>&nbsp;&nbsp; Add To Playlist</a></span>
                            <span class="pl-2 pr-2"><a class="btn"><i class="fal fa-list"></i>&nbsp;&nbsp; Add To Queue</a></span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper pt-100">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a href=#><img alt=img src="./assets/frontend/image/ad/add7.png" class=img-responsive></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 right-sidebar-ad pt-60">
        <img class="img-fluid" src="./assets/frontend/image/ad/add2_long.png" alt="Ad Image" />
      </div>
    </div>
  </div>
</div>
<!-- artist single wrapper end -->
