<div class="row download-row-right-padding">
  <div class="col-12">
    <div class="overflow-mockup-design">
      <div class="album_inner_list favourite_play_list m24_cover pt-60 pb-60" id="favourite">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="row mb-20">
                <div class="col-12 favourite-dash-playlist mb-20">
                  <h1 class="mb-20 text-left"><i class="far fa-heart-circle"></i> My Favourites</h1>
                </div>
                <div class="col-6 favourite-dash-playlist-name">
                  <h5 class="mt-20 mb-20"><i class="far fa-heart-circle"></i> Favourite Songs</h5>
                </div>
                <div class="col-6">
                  <div class="lang_apply_btn">
                    <a href="#"><i class="flaticon-play-button"></i> play all</a>
                  </div>
                </div>
              </div>
              <div class="album_list_wrapper2">
                <div class="album_list_wrapper favourite_play_wrapper">
                  <ul class="album_list_name m24_cover">
                    <li>#</li>
                    <li class="song_title_width">Song Title</li>
                    <li class="song_title_width">Artist</li>
                    <li class="text-center">time</li>
                    <li class="text-center">More</li>
                  </ul>
                  <ul class="album_inner_list_padding">
                    <li><a href="#"><span class="play_no">01</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
                    <li class="song_title_width">
                      <div class="top_song_artist_wrapper">

                        <img src="/assets/frontend/image/album/tp1.png" alt="img">

                        <div class="top_song_artist_contnt">
                          <h1><a href="#">Let me Love You</a></h1>
                          <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                        </div>

                      </div>
                    </li>
                    <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
                    <li class="text-center"><a href="#">3:26</a></li>

                    <li class="text-center top_song_artist_playlist">
                      <div class="m24_tranding_more_icon">
                        <i class="flaticon-menu"></i>
                      </div>
                      <ul class="tranding_more_option">
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="album_inner_list_padding">
                    <li><a href="#"><span class="play_no">02</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
                    <li class="song_title_width">
                      <div class="top_song_artist_wrapper">

                        <img src="/assets/frontend/image/album/tp2.png" alt="img">

                        <div class="top_song_artist_contnt">
                          <h1><a href="#">l wanna you</a></h1>
                          <p class="various_artist_text"><a href="#">Chrissy artist</a></p>
                        </div>

                      </div>
                    </li>
                    <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
                    <li class="text-center"><a href="#">3:26</a></li>

                    <li class="text-center top_song_artist_playlist">
                      <div class="m24_tranding_more_icon">
                        <i class="flaticon-menu"></i>
                      </div>
                      <ul class="tranding_more_option">
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="album_inner_list_padding">
                    <li><a href="#"><span class="play_no">03</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
                    <li class="song_title_width">
                      <div class="top_song_artist_wrapper">

                        <img src="/assets/frontend/image/album/tp3.png" alt="img">

                        <div class="top_song_artist_contnt">
                          <h1><a href="#">Let me Love You</a></h1>
                          <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                        </div>

                      </div>
                    </li>
                    <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
                    <li class="text-center"><a href="#">3:26</a></li>

                    <li class="text-center top_song_artist_playlist">
                      <div class="m24_tranding_more_icon">
                        <i class="flaticon-menu"></i>
                      </div>
                      <ul class="tranding_more_option">
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="album_inner_list_padding">
                    <li><a href="#"><span class="play_no">04</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
                    <li class="song_title_width">
                      <div class="top_song_artist_wrapper">

                        <img src="/assets/frontend/image/album/tp4.png" alt="img">

                        <div class="top_song_artist_contnt">
                          <h1><a href="#">Let me Love You</a></h1>
                          <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                        </div>

                      </div>
                    </li>
                    <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
                    <li class="text-center"><a href="#">3:26</a></li>

                    <li class="text-center top_song_artist_playlist">
                      <div class="m24_tranding_more_icon">
                        <i class="flaticon-menu"></i>
                      </div>
                      <ul class="tranding_more_option">
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="album_inner_list_padding">
                    <li><a href="#"><span class="play_no">05</span><span class="play_hover"><i class="flaticon-play-button"></i></span></a></li>
                    <li class="song_title_width">
                      <div class="top_song_artist_wrapper">

                        <img src="/assets/frontend/image/album/tp5.png" alt="img">

                        <div class="top_song_artist_contnt">
                          <h1><a href="#">Let me Love You</a></h1>
                          <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                        </div>

                      </div>
                    </li>
                    <li class="song_title_width"><a href="#">Kabir Singh — Arijit Singh 2019</a></li>
                    <li class="text-center"><a href="#">3:26</a></li>

                    <li class="text-center top_song_artist_playlist">
                      <div class="m24_tranding_more_icon">
                        <i class="flaticon-menu"></i>
                      </div>
                      <ul class="tranding_more_option">
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="pagination pagination-lg justify-content-center">
          <li><a class="page-link" href="#"><i class="fal fa-angle-left"></i></a></li>
          <li><a class="page-link active" href="#">1</a></li>
          <li><a class="page-link" href="#">2</a></li>
          <li><a class="page-link" href="#">3</a></li>
          <li><a class="page-link" href="#"><i class="fal fa-angle-right"></i></a></li>
        </ul>
      </div>
      <div class="m24_cover download_wrapper">
        <div class=concert_overlay></div>
        <div class=container>
          <div class=row>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
              <div class="m24_cover download_app_store">
                <h1>DOWNLOAD THIS APP</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but passages of Lorem this is wow.</p>
                <div class="m24_cover app_btn">
                  <a href=#>get the app now</a>
                </div>
                <ul class=download_app_logo>
                  <li><a href=#><i class=flaticon-android-logo></i></a></li>
                  <li><a href=#><i class=flaticon-apple></i></a></li>
                  <li><a href=#><i class=flaticon-windows></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
              <div class="m24_cover download_mockup_design">
                <img alt=img src="/assets/frontend/image/download/mockup.png" class=img-responsive>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_section m24_cover" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
              <div class="m24_heading_wrapper m24_cover text-center">

                <h1>GET IN TOUCH</h1>

                <p>Your Personal Media Website</p>
              </div>
            </div>

            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
              <form>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-pos">
                      <div class="form-group i-name contact-form-custom">

                        <input type="text" class="form-control require" name="first_name" required="" placeholder="First Name*">

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-pos">
                      <div class="form-group i-name contact-form-custom">

                        <input type="text" class="form-control require" name="last_name" required="" placeholder="last Name*">

                      </div>
                    </div>
                  </div>
                  <!-- /.col-md-12 -->
                  <div class="col-lg-6 col-md-6">
                    <div class="form-e">
                      <div class="form-group i-email contact-form-custom">
                        <input type="email" class="form-control require" name="email" required="" placeholder=" Email *" data-valid="email" data-error="Email should be valid.">

                      </div>
                    </div>
                  </div>
                  <!-- /.col-md-12 -->
                  <div class="col-lg-6 col-md-6">
                    <div class="form-s">
                      <div class="form-group i-subject contact-form-custom">

                        <input type="text" class="form-control require" name="Subject" required="" placeholder="subject">

                      </div>
                    </div>
                  </div>
                  <!-- /.col-md-12 -->
                  <div class="col-md-12">
                    <div class="form-m">
                      <div class="form-group i-message contact-form-custom">

                        <textarea class="form-control require" name="message" required="" rows="5" id="messageTen" placeholder=" Message"></textarea>

                      </div>
                    </div>
                  </div>
                  <!-- /.col-md-12 -->
                  <div class="col-md-12">
                    <div class="tb_es_btn_div">
                      <div class="response"></div>
                      <div class="tb_es_btn_wrapper">
                        <button type="button" class="submitForm"><i class="flaticon-play-button"></i> send !</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper">
        <div class=container>
          <div class=row>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="m24_cover add_banner_img_wrapper">
                <a href=#><img alt=img src="/assets/frontend/image/ad/add7.png" class=img-responsive></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
