<div class="m24_cover footer_wrapper index3_footer_wrapper">
  <div class=container>
    <div class=row>
      <div class="col-12 col-md-6 col-lg-3 col-sm-12">
        <div class="m24_cover footer_widget footer_about_wrapper">
          <div class=wrapper_first_image>
            <a href="#"><img alt=logo src="./assets/frontend/image/logo/logo3.png" class=img-responsive></a>
          </div>
          <div class=abotus_content>
            <p>Sed do eiusmod tempor unt ut labore et dolore magna liqua. Ut enim ad minim veniam...</p>
          </div>
          <ul class="m24_cover footer_about_link_wrapper index3_footer_abt_link">
            <li><i class="fa fa-phone"></i>808 - 111 - 9999</li>
            <li><a href=#><i class="fa fa-envelope"></i>Tunein@example.com</a></li>
            <li><a href=#><i class="fas fa-user-alt"></i>Tunein@support.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-sm-12">
        <div class="m24_cover footer_widget ft_heading footer_blog_wrapper">
          <h4>usefull links</h4>
          <ul class="m24_cover footer_about_link_wrapper index3_usefull_link usefull_linkx">
            <li><a routerLink="/terms-use">Terms of Use</a>
            </li>
            <li><a routerLink="/privacy-policy">Privacy Policy </a>
            </li>
            <li><a routerLink="/feedback">Feedback </a>
            </li>
            <li><a routerLink="/report">Report an issue </a>
            </li>
            <li><a routerLink="/Sitemap">
              Sitemap </a>
            </li>
            <li><a routerLink="/faq">
              FAQ</a></li>
            <li><a routerLink="/advertise">
              advertise</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-sm-12">
        <div class="m24_cover footer_widget ft_heading footer_contact_wrapper">
          <h4>download app</h4>
          <p>All type of app’s available for download</p>
          <span><a href=#><img alt=img src="./assets/frontend/image/logo/app_btn1.png" class=img-responsive></a></span>
          <span><a href=#><img alt=img src="./assets/frontend/image/logo/app_btn2.png" class=img-responsive></a></span>
          <span><a href=#><img alt=img src="./assets/frontend/image/logo/app_btn3.png" class=img-responsive></a></span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-sm-12">
        <div class="m24_cover footer_widget ft_heading footer_contact_wrapper">
          <h4>newsletter</h4>
          <p>Our latest news & Special Offers</p>
          <div class="m24_cover contect_form_footer">
            <input name=name placeholder=name>
          </div>
          <div class="m24_cover contect_form_footer">
            <input name=email placeholder=Email>
          </div>
          <div class="lang_apply_btn footer_cont_btn">
            <ul>
              <li>
                <a href=#><i class=flaticon-play-button></i>subscribe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m24_cover foter_top_wrapper index3_index_top_wrapper">
  <div class=container>
    <ul>
      <li><a href=#><i class="fab fa-facebook-f"></i></a>
      </li>
      <li><a href=#><i class="fab fa-instagram"></i></a>
      </li>
      <li><a href=#><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href=#><i class="fab fa-whatsapp"></i></a></li>
    </ul>
  </div>
</div>
<div class="m24_cover index3_bottom_footer section2_bottom_wrapper">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class=btm_foter_box>
          <p>Copyright © 2021 <a href="#">Tunein </a>Template designed by <a href="https://sprofile.netlify.app">Shaswata Web</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
