<div class="row justify-content-center">
  <div class="col-md-10 col-sm-8" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="col-md-10 col-sm-8" *ngIf="!isLoading">
    <mat-card class="login-card">
      <h1 class="login-card-heading text-center">
        All admins
      </h1>
      <p class="mat-body-1 login-card-description text-center"> List Of Every Admin </p>
      <table class="table table-striped table-bordered table-hover mt-30" *ngIf="admins.length > 0">
        <thead>
          <tr>
            <th class="text-center">SN.</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let admin of admins; let i=index;">
          <td class="text-center">{{ i + 1}}</td>
          <td class="text-center">{{admin['name']}}</td>
          <td class="text-center">{{admin['email']}}</td>
          <td>
            <div class="row justify-content-around">
              <div class="col-3">
                <a [routerLink]="['/admin-edit',admin.id]" class="btn btn-inverse-success ml-4"><i class="fas fa-edit"></i></a>
              </div>
              <div class="col-3">
                <button (click)="openViewModal(admin)" class="btn btn-inverse-info"><i class="fas fa-eye"></i></button>
              </div>
              <div class="col-3">
                <button (click)="onDelete(admin.id)" class="btn btn-inverse-danger"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered table-hover mt-30" *ngIf="admins.length <= 0">
        <thead>
        <tr>
          <th class="text-center" style="font-size: 20px; color: rgb(248, 71, 62);">No Admins Created Yet</th>
        </tr>
        <tr>
          <td class="text-center"><button mat-raised-button color="accent"><a routerLink="/create-admin" style="color: white;">Create One</a></button></td>
        </tr>
        </thead>
      </table>
    </mat-card>
  </div>
</div>


