<div class="row justify-content-center">
  <div  *ngIf="isLoading" class="col-md-6 col-sm-8">
    <mat-card class="login-card">
      <mat-spinner></mat-spinner>
    </mat-card>
  </div>
  <div class="col-md-6 col-sm-8" *ngIf="!isLoading">
    <mat-card class="login-card">
      <h1 class="login-card-heading">
        {{mode}} Song
      </h1>
      <p class="mat-body-1 login-card-description"> {{mode}} This Song </p>
      <form [formGroup]="form" (submit)="createSong()">
        <mat-form-field class="login-card-fields">
          <mat-label>Song Name :</mat-label>
          <input type="text" formControlName="name" matInput placeholder="Ex: Song Name" />
        </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()"> Pick Image </button>
          <input class="invisible-file-picker" type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="admin-image-preview" *ngIf="imagePreview !== '' && imagePreview">
          <img [src]="imagePreview" [alt]="form.value.name" />
        </div>
        <div class="mt-15 mb-3">
          <button class="btn btn-block btn-inverse-success" type="button" (click)="lowSongPicker.click()"> Upload 128 Kbps Song </button>
          <input class="invisible-file-picker" type="file" #lowSongPicker (change)="onLowSongPicked($event)">
        </div>
        <div class="admin-image-preview" *ngIf="lowSongPreview !== '' && lowSongPreview">
          <audio controls>
            <source [src]="lowSongPreview | sanitizeUrl" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <p>{{lowFileSize}}</p>
        </div>
        <div class=" mt-15 mb-3">
          <button class="btn btn-block btn-inverse-info" type="button" (click)="highSongPicker.click()"> Upload 360 Kbps Song </button>
          <input class="invisible-file-picker" type="file" #highSongPicker (change)="onHighSongPicked($event)">
        </div>
        <div class="admin-image-preview" *ngIf="highSongPreview !== '' && highSongPreview">
          <audio controls>
            <source [src]="highSongPreview | sanitizeUrl" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <p>{{highFileSize}}</p>
        </div>
        <mat-form-field class="login-card-fields">
          <mat-label>Song Language</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let language of languages"
                        [value]="language.id">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Song Actor</mat-label>
          <mat-select formControlName="actor">
            <mat-option *ngFor="let actor of actors"
                        [value]="actor.id">
              {{actor.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Song Genre</mat-label>
          <mat-select formControlName="genre">
            <mat-option *ngFor="let genre of genres"
                        [value]="genre.id">
              {{genre.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-card-fields">
          <mat-label>Song Album</mat-label>
          <mat-select formControlName="album">
            <mat-option *ngFor="let album of albums"
                        [value]="album.id">
              {{album.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="login-card-button" type="submit">
          {{mode}} Song
        </button>
      </form>
    </mat-card>
  </div>
</div>

