<body class="jumbotron">
<div class="row justify-content-center">
  <div class="col-4">
    <mat-card class="login-card">
      <h1 class="login-card-heading">
        Log In
      </h1>
      <p class="mat-body-1 login-card-description"> Log into admin panel </p>
      <mat-form-field class="login-card-fields">
        <mat-label>Username / Email :</mat-label>
        <input matInput placeholder="Ex: Username" />
      </mat-form-field>
      <mat-form-field class="login-card-fields">
        <mat-label>Password :</mat-label>
        <input matInput placeholder="Ex: Password" />
      </mat-form-field>
      <a routerLink="/backend-home">
      <button
        mat-raised-button
        color="primary"
        class="login-card-button">
        Log In
      </button>
      </a>
  </mat-card>
  </div>
</div>
</body>
