<body class="jumbotron">
<div class="row justify-content-center">
  <div class="col-4">
    <mat-card class="login-card">
      <h1 class="login-card-heading">
        Log In
      </h1>
      <p class="mat-body-1 login-card-description"> Log into admin panel </p>
      <form [formGroup]="form" (submit)="logIn()">
      <mat-form-field class="login-card-fields">
        <mat-label>Email :</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Ex: Email" />
      </mat-form-field>
      <mat-form-field class="login-card-fields">
        <mat-label>Password :</mat-label>
        <input matInput formControlName="password" type="password"  placeholder="Ex: Password" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="login-card-button" type="submit">
        Log In
      </button>
      </form>
  </mat-card>
  </div>
</div>
</body>
