<body class="jumbotron">
<div class="row justify-content-center">
  <div class="col-md-4 col-sm-8">
    <mat-card class="login-card">
      <h1 class="login-card-heading">
        Sign Up
      </h1>
      <p class="mat-body-1 login-card-description"> Sign up as Admin </p>
      <form (submit)="createAdmin(adminForm)" #adminForm="ngForm">
      <mat-form-field class="login-card-fields">
        <mat-label>Username :</mat-label>
        <input name="name" type="text" matInput required ngModel placeholder="Ex: Username" />
      </mat-form-field>
      <mat-form-field class="login-card-fields">
        <mat-label>Email :</mat-label>
        <input name="email" type="email" matInput required ngModel placeholder="Ex: Email" />
      </mat-form-field>
      <mat-form-field class="login-card-fields">
        <mat-label>Password :</mat-label>
        <input name="password" type="password"  matInput required ngModel placeholder="Ex: Password" />
      </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="login-card-button" type="submit">
          Sign Up
        </button>
      </form>
    </mat-card>
  </div>
</div>
</body>
