<div class="container-fluid">

  <mat-toolbar>
    <div class="row justify-content-between modal-top-row">
      <div class="col-4">
    <span>
      <h4 class="text-center card-title">Album Details</h4>
    </span>
      </div>
      <div class="col-2">
        <button class="btn btn-block btn-inverse-danger"  (click)="onClose()" tabindex="-1"><i class="far fa-window-close"></i></button>
      </div>
    </div>
  </mat-toolbar>
  <div *ngIf="isLoading">
    <div class="card">
      <div class="card-body shadow-sm">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading">
  <div class="row modal-top-row justify-content-center">
    <div class="col-3">
      <img class="list-view-image"  [src]="albumInfo.imagePath"  [alt]="albumInfo.name" />
    </div>
  </div>
  <div class="card">
    <div class="card-body shadow-sm">
      <table class="table table-striped table-responsive-lg table-bordered table-hover mt-20">
        <thead>
        <tr>
          <th class="text-center">Field Name</th>
          <th class="text-center">Field Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">Album Name</td>
          <td class="text-center">{{albumInfo.name}}</td>
        </tr>
        <tr>
          <td class="text-center">Description</td>
          <td class="text-center"> {{albumInfo.description}} </td>
        </tr>
        <tr>
          <td class="text-center">Cast</td>
          <td class="text-center"> {{albumInfo.cast}} </td>
        </tr>
        <tr>
          <td class="text-center">Release Date</td>
          <td class="text-center"> {{albumInfo.release}} </td>
        </tr>
        <tr>
          <td class="text-center">Release Year</td>
          <td class="text-center"> {{albumInfo.year}} </td>
        </tr>
        <tr>
          <td class="text-center">Cast IMDb Link</td>
          <td class="text-center"> {{albumInfo.castLink}} </td>
        </tr>
        <tr>
          <td class="text-center">Language</td>
          <td class="text-center"> {{albumDetails[0]}} </td>
        </tr>
        <tr>
          <td class="text-center">Artist</td>
          <td class="text-center"> {{albumInfo.artist}} </td>
        </tr>
        <tr>
          <td class="text-center">Genre</td>
          <td class="text-center"> {{albumDetails[1]}} </td>
        </tr>
        <tr>
          <td class="text-center">Industry</td>
          <td class="text-center"> {{albumInfo.industry}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>

