<div class="container-fluid">
  <mat-toolbar>
    <div class="row justify-content-between modal-top-row">
      <div class="col-4">
    <span>
      <h4 class="text-center card-title">Song Details</h4>
    </span>
      </div>
      <div class="col-2">
        <button class="btn btn-block btn-inverse-danger"  (click)="onClose()" tabindex="-1"><i class="far fa-window-close"></i></button>
      </div>
    </div>
  </mat-toolbar>
  <div class="row modal-top-row justify-content-center">
    <div class="col-3">
      <img class="list-view-image"  [src]="songDetails.imagePath"  [alt]="songDetails.name" />
    </div>
  </div>
  <div class="card">
    <div class="card-body shadow-sm">
      <table class="table table-striped table-responsive-lg table-bordered table-hover mt-20">
        <thead>
        <tr>
          <th class="text-center">Field Name</th>
          <th class="text-center">Field Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">Song Name</td>
          <td class="text-center">{{songDetails.name}}</td>
        </tr>
        <tr>
          <td class="text-center">Language</td>
          <td class="text-center"> {{songInfo[0]}} </td>
        </tr>
        <tr>
          <td class="text-center">Actor</td>
          <td class="text-center"> {{songInfo[1]}} </td>
        </tr>
        <tr>
          <td class="text-center">Genre</td>
          <td class="text-center"> {{songInfo[2]}} </td>
        </tr>
        <tr>
          <td class="text-center">Album</td>
          <td class="text-center"> {{songInfo[3]}} </td>
        </tr>
        <tr>
          <td class="text-center">128 Kbps</td>
          <td class="text-center">
            <button class="btn btn-block btn-gradient-dark" (click)="playLowSong()"> play </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">360 Kbps</td>
          <td class="text-center">
            <button class="btn btn-block btn-gradient-dark" (click)="playHighSong()"> play </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



