<div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="middleAd && middleAd[0]">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m24_cover add_banner_img_wrapper">
          <a href=#><img [alt]="middleAd[0].name" [src]="middleAd[0].imagePath" class=img-responsive></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="!middleAd[0]">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m24_cover add_banner_img_wrapper">
          <a href=#><img alt=img src="../../../../assets/frontend/image/ad/add7.png" class=img-responsive></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m24_cover index3_partners_section partners_Section">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class="index3_partners_slider partner_slider_wraper">
          <div class="owl-carousel owl-theme">
            <div class=item>
              <div class=lr_prt_img_wrapper>
                <img alt=partner_img src="../../../../assets/frontend/image/partner/part1.png">
              </div>
            </div>
            <div class=item>
              <div class=lr_prt_img_wrapper>
                <img alt=partner_img src="../../../../assets/frontend/image/partner/part2.png">
              </div>
            </div>
            <div class=item>
              <div class=lr_prt_img_wrapper>
                <img alt=partner_img src="../../../../assets/frontend/image/partner/part3.png">
              </div>
            </div>
            <div class=item>
              <div class=lr_prt_img_wrapper>
                <img alt=partner_img src="../../../../assets/frontend/image/partner/part4.png">
              </div>
            </div>
            <div class=item>
              <div class=lr_prt_img_wrapper>
                <img alt=partner_img src="../../../../assets/frontend/image/partner/part1.png">
              </div>
            </div>
            <div class=item>
              <div class=lr_prt_img_wrapper>
                <img alt=partner_img src="../../../../assets/frontend/image/partner/part2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m24_cover index3_quick_wrapper quick_link_wrapper">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div id=accordion role=tablist>
          <div class=card>
            <div class=card_pagee id=headingOne role=tab>
              <h5 class=h5-md>
                <a href=#collapseOne data-toggle=collapse aria-controls=collapseOne aria-expanded=true role=button>
                  QUICK LINKS <span>Help us make a difference. </span>
                </a>
              </h5>
            </div>
            <div class="collapse show"id=collapseOne role=tabpanel aria-labelledby=headingOne data-parent=#accordion>
              <div class=card-body>
                <div class=row>
                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">
                    <div class="m24_cover index3_quick_song_list quick_list_songs">
                      <h1>albums</h1>
                      <ul  *ngIf="languages">
                        <li *ngFor="let language of languages">
                          <a [routerLink]="['/language-album', language.id]">{{language.name}} Songs</a>
                        </li>
                      </ul>
                    </div>
                  </div>
<!--                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">-->
<!--                    <div class="m24_cover index3_quick_song_list quick_list_songs">-->
<!--                      <h1>old songs</h1>-->
<!--                      <ul>-->
<!--                        <li><a href=#>Old English Songs-->
<!--                        </a></li>-->
<!--                        <li><a href=#>-->
<!--                          Old Rajasthani Songs-->
<!--                        </a></li>-->
<!--                        <li><a href=#>Old Kannada Songs-->
<!--                        </a></li>-->
<!--                        <li><a href=#>Old Hindi Songs-->
<!--                        </a></li>-->
<!--                        <li><a href=#>Old Haryanvi Songs</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">
                    <div class="m24_cover index3_quick_song_list quick_list_songs">
                      <h1>new release</h1>
                      <ul *ngIf="quickAlbums">
                        <li *ngFor="let album of quickAlbums">
                          <a routerLink="/singles">{{album.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">
                    <div class="m24_cover index3_quick_song_list quick_list_songs">
                      <h1>trending songs</h1>
                      <ul *ngIf="quickSongs">
                        <li *ngFor="let quickSong of quickSongs">
                          <a href="#">{{quickSong.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
<!--                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">-->
<!--                    <div class="m24_cover index3_quick_song_list quick_list_songs">-->
<!--                      <h1>trending albums</h1>-->
<!--                      <ul>-->
<!--                        <li><a href=#>Happy Birthday-->
<!--                        </a></li>-->
<!--                        <li><a href=#>-->
<!--                          Sad Songs-->
<!--                        </a></li>-->
<!--                        <li><a href=#>Taki Taki-->
<!--                        </a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">-->
<!--                    <div class="m24_cover index3_quick_song_list quick_list_songs">-->
<!--                      <h1>lyrics</h1>-->
<!--                      <ul>-->
<!--                        <li><a href=#>Duniyaa-->
<!--                        </a></li>-->
<!--                        <li><a href=#>-->
<!--                          Leja Re-->
<!--                        </a></li>-->
<!--                        <li><a href=#>Nazm Nazm-->
<!--                        </a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="col-md-6 col-sm-6 col-6 col-lg-3">
                    <div class="m24_cover index3_quick_song_list quick_list_songs">
                      <h1>artists</h1>
                      <ul *ngIf="artists">
                        <li *ngFor="let artist of artists">
                          <a [routerLink]="['artist-album', artist.id]" >{{artist.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
