<!--My Play List wrapper start -->
<div class="album_inner_list m24_cover pb-30 pt-30" id="playlist">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="row mb-20">
          <div class="col-6 album-details-playlist-heading">
            <h3 class="mt-20 mb-20"><i class="far fa-play-circle"></i> Album Name</h3>
          </div>
          <div class="col-6 ">
            <div class="lang_apply_btn mt-20">
              <a href="#"><i class="flaticon-play-button"></i> play all</a>
            </div>
          </div>
        </div>
        <div class="album_list_wrapper2 single_album_list_wrapper2">
          <div class="album_list_wrapper album_list_wrapper3">
            <ul class="album_list_name m24_cover">
              <li class="album-song-number song-number-title">#</li>
              <li class="song_title_width album-detail-title">Song Title</li>
              <li class="text-center album-actions-title album-action-first">Play/<br/>Pause</li>
              <li class="text-center album-actions-title">Add To Favourite</li>
              <li class="text-center album-actions-title">Share</li>
              <li class="text-center add-playlist-title">Play<br/>Next</li>
              <li class="download-option-title">Download 128 Kbps</li>
              <li class="download-option-title">Download 320 Kbps</li>
            </ul>
            <ul class="album_inner_list_padding">
              <li class="album-song-number single-album-song-number"><a href="#"><span class="play_no">01</span><span class="play_hover single-album-play-icon"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width album-detail-li single-album-name-singer">
                <div class="top_song_artist_wrapper">
                  <div class="top_song_artist_contnt album-song-title">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-warning"><i class="fas fa-play-circle"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-danger"><i class="fas fa-heart"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-share-alt"></i></a>
              </li>
              <li class="text-center queue-option single-album-queue-option">
                <a href="#" class="btn btn-lg btn-inverse-info"><i class="fas fa-layer-plus"></i></a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i></a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i> </a>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li class="album-song-number single-album-song-number"><a href="#"><span class="play_no">02</span><span class="play_hover single-album-play-icon"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width album-detail-li single-album-name-singer">
                <div class="top_song_artist_wrapper">
                  <div class="top_song_artist_contnt album-song-title">
                    <h1><a href="#">l wanna you</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy artist</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-warning"><i class="fas fa-play-circle"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-danger"><i class="fas fa-heart"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-share-alt"></i></a>
              </li>
              <li class="text-center queue-option single-album-queue-option">
                <a href="#" class="btn btn-lg btn-inverse-info"><i class="fas fa-layer-plus"></i>
                </a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i></a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i> </a>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li class="album-song-number single-album-song-number"><a href="#"><span class="play_no">03</span><span class="play_hover single-album-play-icon"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width album-detail-li single-album-name-singer">
                <div class="top_song_artist_wrapper">
                  <div class="top_song_artist_contnt album-song-title">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-warning"><i class="fas fa-play-circle"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-danger"><i class="fas fa-heart"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-share-alt"></i></a>
              </li>
              <li class="text-center queue-option single-album-queue-option"><a href="#" class="btn btn-lg btn-inverse-info"><i class="fas fa-layer-plus"></i></a></li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i></a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i> </a>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li class="album-song-number single-album-song-number"><a href="#"><span class="play_no">04</span><span class="play_hover single-album-play-icon"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width album-detail-li single-album-name-singer">
                <div class="top_song_artist_wrapper">
                  <div class="top_song_artist_contnt album-song-title">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>

                </div>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-warning"><i class="fas fa-play-circle"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-danger"><i class="fas fa-heart"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-share-alt"></i></a>
              </li>
              <li class="text-center queue-option single-album-queue-option"><a href="#" class="btn btn-lg btn-inverse-info"><i class="fas fa-layer-plus"></i></a></li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i></a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i> </a>
              </li>
            </ul>
            <ul class="album_inner_list_padding">
              <li class="album-song-number single-album-song-number"><a href="#"><span class="play_no">05</span><span class="play_hover single-album-play-icon"><i class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width album-detail-li single-album-name-singer">
                <div class="top_song_artist_wrapper">
                  <div class="top_song_artist_contnt album-song-title">
                    <h1><a href="#">Let me Love You</a></h1>
                    <p class="various_artist_text"><a href="#">Chrissy Costanza</a></p>
                  </div>
                </div>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-warning"><i class="fas fa-play-circle"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-danger"><i class="fas fa-heart"></i></a>
              </li>
              <li class="song_title_width album-action-options text-center">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-share-alt"></i></a>
              </li>
              <li class="text-center queue-option single-album-queue-option"><a href="#" class="btn btn-lg btn-inverse-info"><i class="fas fa-layer-plus"></i></a></li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i></a>
              </li>
              <li class="text-center top_song_artist_playlist delete-action-options">
                <a href="#" class="btn btn-lg btn-inverse-success"><i class="fas fa-download"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Album Download Wrapper Start-->
<div class="album_download_all m24_cover pb-30">
  <div class="container">
    <div class="album_download_wrapper">
      <h4 class="album_download_title"><i class="fas fa-download"></i> Download All One <span>Zip</span></h4>
      <button class="btn btn-inverse-success mt-20 bottom-download-button"><i class="fas fa-download"></i> 128 Kbps Zip</button>
      <button class="btn btn-inverse-success mt-20 ml-20 bottom-download-button"><i class="fas fa-download"></i> 326 Kbps Zip</button>
      <button class="btn btn-inverse-success mt-20 ml-20 flac-format bottom-download-button"><i class="fas fa-download"></i> Flac Format Available (<1000Kbps)</button>
    </div>
  </div>
</div>
<div class="m24_cover index3_top_songs_wrapper add_banner_wrapper custom_album_bottom_banner pb-30">
  <div class=container>
    <div class=row>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m24_cover add_banner_img_wrapper">
          <a href=#><img alt=img src="/assets/frontend/image/ad/large-banner.jpg" class=img-responsive></a>
        </div>
      </div>
    </div>
  </div>
</div>
