.pagination-container .mat-paginator{
  background-color: #04031D;
  font-size: 20px!important;
  color: #FA5840!important;
}

.custom-button{
  color: #FA5840!important;
}

::ng-deep .mat-paginator .mat-button{
  color: #FA5840!important;
}

::ng-deep .mat-paginator .mat-button-disabled{
  color: #FA5840!important;
  opacity: 0.2;
}

::ng-deep .mat-paginator-page-size {
  display: none!important;
}

.mat-custom-page{
  font-size: 20px!important;
}

.top-song-img{
  height: 60px;
  width: 60px;
}

.top-song-name a{
  font-size: 14px!important;
}

.various_artist_text a{
  font-size: 12px!important;
}
