<div class="ad-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 left-sidebar-ad pt-60" *ngIf="leftAd">
        <a [href]="leftAd.link"><img class="img-fluid" [alt]="leftAd.name" [src]="leftAd.imagePath" /></a>
      </div>
      <div class="col-1 left-sidebar-ad pt-60" *ngIf="!leftAd">
        <img class="img-fluid" alt="noAd" src="../../../../assets/frontend/image/ad/add2_long.png" />
      </div>
      <div class="col-10">
        <div class="m24_cover treanding_songs_wrapper index3_treanding_wraaper treanding_index_wrapper">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_heading_wrapper white_heading_wrapper">
                  <h1>Trending Songs
                  </h1>
                </div>
                <div class=relaese_viewall_wrapper>
                  <a routerLink="/language-song">view all <i class=flaticon-right-arrow></i></a>
                </div>
                <div class=release_tabs_wrapper *ngIf="songLanguages">
                  <ul class="nav nav-tabs">
                    <li class=nav-item><a href="#all-songs" class="nav-link active" data-toggle=tab>
                      All</a>
                    </li>
                    <li class=nav-item *ngFor="let songLanguage of songLanguages"><a [routerLink]="['/language-song',songLanguage.id]" class="nav-link">
                      {{songLanguage.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12">
                <div class="tab-content">
                  <div class="tab-pane active" id="all-songs">
                    <div class="treanding_song_slider treanding_song_slider2">
                      <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of allSongs">
                        <ng-template carouselSlide>
                        <div class=item>
                          <div class="m24_cover treanding_slider_main_box release_box_main_content">
                            <img [alt]="slide.name" [src]="slide.imagePath">
                            <div class="release_content_artist release_content_artist2">
                              <p><a [routerLink]="['/singles',slide.album]">{{slide.name}}</a></p>
                            </div>
                            <div class="m24_treanding_box_overlay release_box_overlay">
                              <div class=m24_tranding_box_overlay></div>
                              <div class=m24_tranding_more_icon  (click)="OpenTrending()">
                                <i class=flaticon-menu></i>
                              </div>
                              <ul class=tranding_more_option *ngIf="!userIsAuthenticated">
                                <li><a href="javascript:void(0)" (click)="Copy(slide.album)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                              </ul>
                              <ul class=tranding_more_option *ngIf="userIsAuthenticated">
                                <li><a href=#><span class=opt_icon><i class=flaticon-playlist></i></span>Add To playlist</a></li>
                                <li><a href=#><span class=opt_icon><i class=flaticon-star></i></span>favourite</a></li>
                                <li><a href="javascript:void(0)"(click)="Copy(slide.album)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                              </ul>
                              <div class=tranding_play_icon>
                                <a href="#">
                                  <i class=flaticon-play-button></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        </ng-template>
                        </ng-container>
                      </owl-carousel-o>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="middleAd && middleAd[0]">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a [href]="middleAd[0].link"><img [alt]="middleAd[0].name" [src]="middleAd[0].imagePath" class=img-responsive></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="!middleAd[0]">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a href=#><img alt=img src="../../../../assets/frontend/image/ad/add2.png" class=img-responsive></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover treanding_songs_wrapper index3_release_wrapper release_wrapper">
          <div class=container>
            <div class="row">
              <div class="col-md-3">
                <div class="music_navigation_wrapper pt-20">
                  <a routerLink="/albums" class="navigation_title">Music Section</a>
                  <div *ngFor="let industry of allIndustries">
                  <a [routerLink]="['/albums',industry.id]" class="album_name"><i class="fal fa-music"></i>&nbsp;&nbsp;&nbsp;&nbsp; {{industry.name}}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="m24_cover treanding_songs_wrapper index3_release_wrapper release_wrappe pt-20">
                  <div class=container>
                    <div class=row>
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="m24_heading_wrapper white_heading_wrapper new-release-album-wrapper">
                          <h1>New Release Albums
                          </h1>
                        </div>
                        <div class=relaese_viewall_wrapper>
                          <a routerLink="/language-album">view all <i class=flaticon-right-arrow></i></a>
                        </div>
                        <div class=release_tabs_wrapper *ngIf="albumLanguages">
                          <ul class="nav nav-tabs">
                            <li class=nav-item><a href="#all-songs" class="nav-link active index-nav-link" data-toggle=tab>
                              All</a>
                            </li>
                            <li class=nav-item *ngFor="let albumLanguage of albumLanguages"><a [routerLink]="['/language-album',albumLanguage.id]" class="nav-link index-nav-link">
                              {{albumLanguage.name}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class=tab-content>
                          <div class="tab-pane active" id=home>
                            <div class=row>
                              <div class="col-12 col-md-6 col-lg-4 col-sm-6 col-xl-4 pd1" *ngFor="let album of albums">
                                <div class="m24_cover treanding_slider_main_box release_box_main_content">
                                  <img [alt]="album.name" [src]="album.imagePath">
                                  <div class="release_content_artist release_content_artist2">
                                    <p><a [routerLink]="['/singles',album.id]">{{album.name}}</a></p>
                                    <p class=various_artist_text><a routerLink="/artist-album">{{album.artist}}</a></p>
                                  </div>
                                  <div class="m24_treanding_box_overlay release_box_overlay">
                                    <div class=m24_tranding_box_overlay></div>
                                    <div class=m24_tranding_more_icon  (click)="OpenTrending()">
                                      <i class=flaticon-menu></i>
                                    </div>
                                    <ul class=tranding_more_option *ngIf="!userIsAuthenticated">
                                      <li><a href="javascript:void(0)" (click)="Copy(album.id)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                                    </ul>
                                    <ul class=tranding_more_option *ngIf="userIsAuthenticated">
                                      <li><a href=#><span class=opt_icon><i class=flaticon-playlist></i></span>Add To playlist</a></li>
                                      <li><a href=#><span class=opt_icon><i class=flaticon-star></i></span>favourite</a></li>
                                      <li><a href="javascript:void(0)"(click)="Copy(album.id)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                                    </ul>
                                    <div class=tranding_play_icon>
                                      <a href="#">
                                        <i class=flaticon-play-button></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="pagination-container">
                        <mat-paginator appStylePaginator showFirstLastButtons *ngIf="albums.length > 8" [length]="totalSongs" [pageSize]="12" (page)="onChangedPage($event)"></mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="middleAd && middleAd[1]">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a [href]="middleAd[1].link"><img [alt]="middleAd[1].name" [src]="middleAd[1].imagePath" class=img-responsive></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="!middleAd[1]">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a href=#><img alt=img src="../../../../assets/frontend/image/ad/add2.png" class=img-responsive></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper top_songs_wrapper" id="artist">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7" *ngIf="topSongs">
                <div class="m24_cover song_heading_wrapper">
                  <div class="m24_heading_wrapper white_heading_wrapper">
                    <h1>top songs</h1>
                  </div>
                  <div class=relaese_viewall_wrapper>
                    <a routerLink="/language-song" >view all <i class=flaticon-right-arrow></i></a>
                  </div>
                  <div class="m24_cover index3_top_songs_list top_songs_list" *ngFor="let song of topSongs">
                    <div class="top_songs_list_left new-release-list-left">
                      <div class="treanding_slider_main_box top_lis_left_content">
                        <div class=top_songs_list0img>
                          <img alt=img class="top-song-img" [src]="song.imagePath">
                          <div class=m24_treanding_box_overlay>
                            <div class=m24_tranding_box_overlay></div>
                            <div class=tranding_play_icon>
                              <a href=#>
                                <i class=flaticon-play-button></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="release_content_artist top_list_content_artist new-release-content-artist">
                          <p class="top-song-name"><a [routerLink]="['/singles',song.album]" >{{song.name}}</a></p>
                          <p class=various_artist_text><a [routerLink]="['/artist-album', song.artist]">{{song.artist}}</a></p>
                        </div>
                      </div>
                      <div class="top_list_tract_time new-release-tract-time">
                        <p>{{song.duration}}</p>
                      </div>
                    </div>
                    <div class="top_songs_list_right new-release-list-right">
                      <div class="top_list_tract_view new-release-tract-view">
                        <p>8M+ View</p>
                      </div>
                      <div class=top_song_list_picks>
                        <div class=m24_tranding_more_icon (click)="OpenTrending()">
                          <i class=flaticon-menu></i>
                        </div>
                        <ul class=tranding_more_option *ngIf="!userIsAuthenticated">
                          <li><a href="javascript:void(0)" (click)="Copy(song.album)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                        </ul>
                        <ul class=tranding_more_option *ngIf="userIsAuthenticated">
                          <li><a href=#><span class=opt_icon><i class=flaticon-playlist></i></span>Add To playlist</a></li>
                          <li><a href=#><span class=opt_icon><i class=flaticon-star></i></span>favourite</a></li>
                          <li><a href="javascript:void(0)" (click)="Copy(song.album)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <div class="m24_heading_wrapper white_heading_wrapper">
                  <h1>Featured Artists</h1>
                </div>
                <div class="index3_featured_song_slider featured_song_slider">
                  <owl-carousel-o [options]="customOptions2">
                    <ng-container *ngFor="let artists of itemArtists">
                      <ng-template carouselSlide>
                        <div class=item>
                      <div class="m24_cover featured_artist_list index3_featured_list" *ngFor="let artist of artists">
                        <img [alt]="artist.name" [src]="artist.imagePath" class=img-responsive>
                        <div class="featured_artist_detail new-release-artist-detail">
                          <p><a [routerLink]="['artist-album',artist.id]">{{artist.name}}</a></p>
                          <p class=various_artist_text><a [routerLink]="['artist-album',artist.id]">{{artist.songs[0]}} tracks</a> 8M+ View</p>
                          <div class=lang_apply_btn>
                            <ul>
                              <li>
                                <a href=#><i class=flaticon-play-button></i>play now</a>
                              </li>
                            </ul>
                          </div>
                          <div class="top_song_list_picks featured_list_dropdown">
                            <div class=m24_tranding_more_icon (click)="OpenTrending()">
                              <i class=flaticon-menu></i>
                            </div>
                            <ul class=tranding_more_option *ngIf="!userIsAuthenticated">
                              <li><a href="javascript:void(0)" (click)="CopyArtist(artist.id)" ngxClipboard [cbContent]="currentRoute"><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                            </ul>
                            <ul class=tranding_more_option *ngIf="userIsAuthenticated">
                              <li><a href=#><span class=opt_icon><i class=flaticon-playlist></i></span>Add To playlist</a></li>
                              <li><a href=#><span class=opt_icon><i class=flaticon-star></i></span>favourite</a></li>
                              <li><a href="javascript:void(0)" (click)="CopyArtist(artist.id)" ngxClipboard [cbContent]="currentRoute"><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="middleAd && middleAd[2]">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a [href]="middleAd[2].link"><img [alt]="middleAd[2].name" [src]="middleAd[2].imagePath" class=img-responsive></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover index3_top_songs_wrapper add_banner_wrapper" *ngIf="!middleAd[2]">
          <div class=container>
            <div class=row>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="m24_cover add_banner_img_wrapper">
                  <a href=#><img class="img-fluid" alt="noAd" src="../../../../assets/frontend/image/ad/add2.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m24_cover custom_albums_wrapper" id="featured"  *ngIf="userIsAuthenticated">
          <div class="container">
            <div class="row justify-content-around mt-40 mb-80">
              <div class="col-12 mb-40">
                <h1 class="text-center pb-3">Our Featured Albums</h1>
                <p class="text-center">Albums Created By Us Just For You</p>
              </div>
              <div class="col-lg-3 border-1 custom_albums_card mt-20">
                <p class="text-center custom_albums_heading bg-1"><i class="far fa-play-circle"></i> Play List One</p>
                <div class="row pt-30">
                  <div class="col-12 pl-25 pr-25">
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song One
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption4" aria-expanded="false" aria-controls="collapseOption4"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption4">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song Two
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption2" aria-expanded="false" aria-controls="collapseOption2"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption2">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song One
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption3" aria-expanded="false" aria-controls="collapseOption3"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption3">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 border-2 custom_albums_card mt-20">
                <p class="text-center custom_albums_heading bg-2"><i class="far fa-play-circle"></i> Play List Two</p>
                <div class="row pt-30">
                  <div class="col-12 pl-25 pr-25">
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song One
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption1" aria-expanded="false" aria-controls="collapseOption1"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption1">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song Two
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption5" aria-expanded="false" aria-controls="collapseOption5"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption5">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song One
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption6" aria-expanded="false" aria-controls="collapseOption6"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption6">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 border-3 custom_albums_card mt-20">
                <p class="text-center custom_albums_heading bg-3"><i class="far fa-play-circle"></i> Play List Three</p>
                <div class="row pt-30">
                  <div class="col-12 pl-25 pr-25">
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song One
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption7" aria-expanded="false" aria-controls="collapseOption7"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption7">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song Two
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption8" aria-expanded="false" aria-controls="collapseOption8"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption8">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row custom_album_song_row bg-4 ml-1 mr-1 mb-15">
                      <div class="col-9 custom_album_song_name">
                        <i class="fal fa-music"></i>&nbsp;&nbsp; Song One
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn custom_album_btn" data-bs-toggle="collapse" data-bs-target="#collapseOption9" aria-expanded="false" aria-controls="collapseOption9"><i class=flaticon-menu></i></button>
                      </div>
                      <div class="col-10 custom_albums_option_wrapper">
                        <div class="collapse" id="collapseOption9">
                          <div class="card card-body custom_albums_option_card">
                            <a href="#"><span class=opt_icon><i class=flaticon-playlist></i></span> Add To Play List</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-star></i></span> Add To Favourite</a>
                            <a href="#"><span class=opt_icon><i class=flaticon-share></i></span> Share</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 right-sidebar-ad pt-60"  *ngIf="rightAd">
        <a [href]="rightAd.link"><img class="img-fluid" [alt]="rightAd.name" [src]="rightAd.imagePath" /></a>
      </div>
      <div class="col-1 left-sidebar-ad pt-60" *ngIf="!rightAd">
        <img class="img-fluid" alt="noAd" src="../../../../assets/frontend/image/ad/add2_long.png" />
      </div>
    </div>
  </div>
</div>
<div class="overflow-mockup-design">
  <div class="m24_cover treanding_songs_wrapper index3_release_wrapper release_wrapper pb-50">
    <div class=container>
      <div class=row>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="m24_heading_wrapper white_heading_wrapper">
            <h1>Non Stop <span class="active">Bollywood</span> Radio
            </h1>
          </div>
          <div class=relaese_viewall_wrapper>
            <a routerLink="/language-song">view all <i class=flaticon-right-arrow></i></a>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class=tab-content>
            <div class="tab-pane active" id=radio>
              <div class=row>
                <div class="col-12 col-md-6 col-lg-4 col-sm-6 col-xl-3 pd1" *ngFor="let bollywood of bollywoodSongs">
                  <div class="m24_cover treanding_slider_main_box release_box_main_content">
                    <img [alt]="bollywood.name" [src]="bollywood.imagePath">
                    <div class="release_content_artist release_content_artist2">
                      <p><a [routerLink]="['/singles',bollywood.album]">{{bollywood.name}}</a></p>
                      <p class=various_artist_text><a routerLink="/artist-album">{{bollywood.artist}}</a></p>
                    </div>
                    <div class="m24_treanding_box_overlay release_box_overlay">
                      <div class=m24_tranding_box_overlay></div>
                      <div class=m24_tranding_more_icon (click)="OpenTrending()">
                        <i class=flaticon-menu></i>
                      </div>
                      <ul class=tranding_more_option *ngIf="!userIsAuthenticated">
                        <li><a href="javascript:void(0)" (click)="Copy(bollywood.album)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                      </ul>
                      <ul class=tranding_more_option *ngIf="userIsAuthenticated">
                        <li><a href=#><span class=opt_icon><i class=flaticon-playlist></i></span>Add To playlist</a></li>
                        <li><a href=#><span class=opt_icon><i class=flaticon-star></i></span>favourite</a></li>
                        <li><a href="javascript:void(0)" (click)="Copy(bollywood.album)" ngxClipboard [cbContent]="currentRoute" ><span class=opt_icon><i class=flaticon-share></i></span>share</a></li>
                      </ul>
                      <div class=tranding_play_icon>
                        <a href="#">
                          <i class=flaticon-play-button></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-container" *ngIf="bollywoodSongs">
        <mat-paginator appStylePaginator showFirstLastButtons *ngIf="bollywoodSongs.length > 9" [length]="totalBollywoodSongs" [pageSize]="9" (page)="onBollywoodChangedPage($event)"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="download_wrapper m24_cover">
    <div class="concert_overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="download_app_store m24_cover">
            <h1>DOWNLOAD THIS APP</h1>

            <p>There are many variations of passages of Lorem Ipsum available, but passages of Lorem this is wow.</p>
            <div class="app_btn m24_cover">
              <a href="#">get the app now</a>

            </div>
            <ul class="download_app_logo">
              <li><a href="#"><i class="flaticon-android-logo"></i></a></li>
              <li><a href="#"><i class="flaticon-apple"></i></a></li>
              <li><a href="#"><i class="flaticon-windows"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="download_mockup_design m24_cover">

            <img src="../../../../assets/frontend/image/download/mockup.png" class="img-responsive" alt="img">
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-contact></app-contact>
</div>
